.board {
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;
  width: 99px;
  height: 99px;
}

.gap {
  width: 900px;
  height: 100px;
  background-color: yellow;
}

.controls {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
}

.gameContainer {
  display: flex;
  flex-direction: row;
}

.mrMonopoly {
  background-image: url('./images/mrMonopoly.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
