body {
  box-sizing: border-box;
}

.topInfoPlane {
  width: 100%;
  height: 75px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.previewButtons {
  width: 20%;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.boardContainer {
  width: 2000px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -400px;
}


.square {
  width: 300px;
  height: 400px;
  border-right: 1px solid black;
  text-align: center;
  background-color: rgb(199, 230, 197);
}

.squareColor {
  width: 100%;
  height: 100px;
  background-color: yellow;
  border: 2px solid black;
}

.playersContainer {
  width: 100%;
  height: 120px;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.playerContainer {
  width: 30%;
  height: 50px;
  background-color: white;
  background-size: cover;
}

.playerInfoPlane {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

.movingPlayer1 {
  animation: moving 0.5s infinite;
  padding-bottom: 0px;
  background-image: url('./images/dog.jpeg');
}

@keyframes moving {
  from {
    padding-bottom: 0px;
  }
  to {
    padding-bottom: 3px;
  }
}
